{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h1 class="text-center alert alert-dark">Beneficio</h1>

    <div id="container" style="width: 75%;">
        <canvas id="pie-chart"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>
    var config = {
      type: 'pie',
      data: {
        datasets: [{
          data: [25, 20, 19, 19],

          backgroundColor: [
            '#ff0000', '#0000ff', '#ff0080', '#73ffff'
          ],
          label: 'Population'
        }],

        labels: ['Bolsa Familia', 'BPC', 'Aluguel Social', 'Outros']
      },
      options: {
        responsive: true
      }
    };

    window.onload = function() {
      var ctx = document.getElementById('pie-chart').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };

    </script>

</div>
{% endblock %}