{% extends 'base.html' %}
{% block title %}Substancias{% endblock %}


{% block content %}

<div class="container">
   <h5 class="text-center alert alert-dark">Uso de Substância</h5>

    <div id="container" style="width: 85%;">
        <canvas id="pie-chart"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>
    var config = {
      type: 'bar',
      data: {
        datasets: [{
          data: [25, 20, 15, 18, 5, 10, 1],

          backgroundColor: [
            '#ff0000', '#0000ff', '#ff0080', '#73ffff', '#5c26ff', '#002db3', '#ffff26'
          ],
          label: 'Population'
        }],

        labels: ['Alcool', 'Maconha', 'Cocaina', 'Crack', 'Todas', 'Nenhuma', 'Não informado']
      },
      options: {
        responsive: true
      }
    };

    window.onload = function() {
      var ctx = document.getElementById('pie-chart').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };

    </script>
</div>

{% endblock %}