{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">

    <p align="right">Hoje é, {{ now }}</p>

    <h1 class="alert alert-dark" align="center">Seja bem vindo!</h1>

    <h4 class="alert alert-dark" align="justify">
        Eu sou o Jeferson, este é o meu trabalho de conclusão de curso, de Analise de Desenvolvimento de Sistemas,
        na Faculdade SENAC/RS em Porto Alegre. O projeto tem como objetivo principal auxiliar o serviço de ação rua,
        uma politica pública, que constitui um conjunto de ações integradas, que
        vem mudando a realidade das pessoas em situação de rua. A proposta tem
        como objetivo principal, fazer a troca do papel e digitação, para utilizarem a internet,
        computadores, tablets e celulares. Realizando os cadastros, serviços, diários de campo e tarefas,
        com agilidade e em tempo real.</h4>

</div>
{% endblock content %}
