<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <a class="navbar-brand" href="/">Ação Rua</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="/list/">Clientes</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/listaservicos/">Serviços</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/listadiario/">Diário de Campo</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/listatarefas/">Tarefas</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Gráficos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'etnia' %}">Etnia</a>
                    <a class="dropdown-item" href="{% url 'faixa-etaria' %}">Faixa Etária</a>
                    <a class="dropdown-item" href="{% url 'substancias' %}">Uso de Substâncias</a>
                    <a class="dropdown-item" href="{% url 'genero' %}">Genero</a>
                </div>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/accounts/login">Entrar</a>
            </li>
            {% endif %}
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="/accounts/logout">Logout/Sair</a>
            </li>
            {% endif %}
        </ul>

    </div>
</nav>